<!doctype html>
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Authentication</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">	
</head>
<body>
	<div class="container">

		<div class="jumbotron text-center">
			<h1><span class="fa fa-lock"></span> Authentication</h1>

			<p>Login or Register: </p>

			<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
			<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
		</div>

	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>